{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- Style -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
{% block extrastyle %}{% endblock %}

{% block responsive %}
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% endblock %}
<!-- END Style -->

<!-- Script -->
{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
{{ form.media }}
{% endblock %}
<!-- END Script -->
</head>

<body>
  <div class="ui container">
    <div class="ui basic segment">
      <h2>Semantic Forms</h2>

      {% block messages %}
        {% if messages %}
          {% for message in messages %}
            <div class="ui
                {% if message.tags %}
                  {% with message.tags as tags %}
                  {% if tags == 'debug' %}
                  {% elif tags == 'info' %}info
                  {% elif tags == 'success' %}success
                  {% elif tags == 'warning' %}warning
                  {% elif tags == 'error' %}negative
                  {% endif %}
                  {% endwith %}
                {% endif %} message"
                >{{ message|capfirst }}
              </div>
          {% endfor %}
        {% endif %}
      {% endblock messages %}

      <form class="ui form{% if errors %} error{% endif %}" action="/forms/" method="post" novalidate>{% csrf_token %}
        <div class="width-100">
          {% if errors %}
              <div class="ui message error">
              {% blocktranslate count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
              </div>
          {% endif %}

          <div class="ui segment">{{ form }}</div>

          <div class="ui basic segment" style="margin-top: 0;">
            <button type="submit" class="ui fluid blue button" value="{% trans 'Submit' %}" name="submit" />{% trans 'Submit' %}</button>
          </div>
      </form>

    </div>
  </div>

{% block extrascript %}{% endblock %}
</body>
</html>
