<div {% if widget.attrs.id %} id="{{ widget.attrs.id }}"{% endif %} class="inline fields{% if widget.attrs.class %} {{ widget.attrs.class }}{% endif %}">
    {% for group, options, index in widget.optgroups %}

        {% comment %}Semantic has no option groups!
            {% if group %}<li>{{ group }}<ul{% if id %} id="{{ id }}_{{ index }}"{% endif %}>{% endif %}
        {% endcomment %}

        {% for option in options %}
            {% include option.template_name with widget=option %}
        {% endfor %}
        
        
        {% comment %}Semantic has no option groups!
            {% if group %}</ul></li>{% endif %}
        {% endcomment %}
        
    {% endfor %}
</div>
